<div style="text-align: center;">

  <div style="position: relative;">
    <img src="assets/img/lp-image.png" style="position: absolute; top: 0; right: 0; max-width: 200px;">
    <h1 style="color: rgb(206, 36, 65); margin-bottom: 10px;">Contact Our</h1>
    <h1 style="margin-top: 0;">Customer Support Center</h1>
    <div style="text-align: center;">
      <h3 style="margin-bottom: 10px;">Contact Information</h3>
      <p>Please fill out your contact information below</p>
    </div>
    </div>
</div>
  
 <form>
    Name*
    <div class="row" style="margin-bottom: 10px;">
      <div class="col-sm-4">
        <input type="text" class="form-control" placeholder="First name">
      </div>
      <div class="col-sm-4">
        <input type="text" class="form-control" placeholder="Last name">
      </div>
    </div>
    <br>
    Email*
    <div class="form-group" style="margin-bottom: 10px;">
      <input type="email" class="form-control" placeholder="abc@gmail.com">
    </div>
    <br>
    Mobile No*

    <div class="form-group" style="margin-bottom: 10px;">
      <input type="tel" class="form-control" placeholder="Phone">
    </div>
    <br>
    Address*
    <div class="form-group" style="margin-bottom: 20px;">
      <input type="text" class="form-control" placeholder="Your Address">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit Form</button>
  </form>



 