<div style="text-align: center;">

    <div style="position: relative;">
      <img src="assets/img/lp-image.png" style="position: absolute; top: 0; right: 0; max-width: 200px;">
      <h1 style="color: rgb(206, 36, 65); margin-bottom: 10px;">Contact Our</h1>
      <h1 style="margin-top: 0;">Customer Support Center</h1>
      <div style="text-align: center;">
        <h3 style="margin-bottom: 10px;">Contact Information</h3>
        <p>Please fill out your contact information below</p>
      </div>
      </div>
  </div>
    
   <form [formGroup]="MarvellousForm">
    <div class="form-group">
      <label>FirstName </label>
      <!--Use class binding for validation-->
      <input [class.is-invalid] = "MarvellousForm.get('username')?.invalid && MarvellousForm.get('username')?.touched" type="text" class="form-control" formControlName="username">
      <small [class.d-none]="MarvellousForm.get('username')?.valid || MarvellousForm.get('username')?.untouched"  class="text-danger">FirstName is required</small>
    </div>

    <div class="form-group">
      <label>LastName </label>
      <input type="text" class="form-control">
    </div>

    <div class="form-group">
      <label>Email </label>
      <input [class.is-invalid] = "MarvellousForm.get('Email')?.invalid && MarvellousForm.get('Email')?.touched" type="text" class="form-control" formControlName="Email">
      <small [class.d-none]="MarvellousForm.get('Email')?.valid || MarvellousForm.get('Email')?.untouched"  class="text-danger">Email is required</small>
    </div>

    <div class="form-group">
      <label>Phone </label>
      <input [class.is-invalid] = "MarvellousForm.get('phone')?.invalid && MarvellousForm.get('phone')?.touched" type="text" class="form-control" formControlName="phone">
      <small [class.d-none]="MarvellousForm.get('phone')?.valid || MarvellousForm.get('phone')?.untouched"  class="text-danger">Phone No is required</small>  
    </div>  

    <div class="form-group">
      <label>City </label>
      <input [class.is-invalid] = "MarvellousForm.get('city')?.invalid && MarvellousForm.get('city')?.touched" type="text" class="form-control" formControlName="city">
      <small [class.d-none]="MarvellousForm.get('city')?.valid || MarvellousForm.get('city')?.untouched"  class="text-danger">City is required</small>  
    </div>

    <div class="form-group">
      <label>State</label>
      <select class="form-control" formControlName="stateFeild">
          <option value="Maharashtra">Maharashtra</option>
          <option value="Gujarat">Gujarat</option>
          <option value="UP">Uttar Pradesh</option>
      </select>
  </div>

  <div class="form-group">
    <label>ZIP </label>
    <input [class.is-invalid] = "MarvellousForm.get('zip')?.invalid && MarvellousForm.get('zip')?.touched" type="text" class="form-control" formControlName="zip">
    <small [class.d-none]="MarvellousForm.get('zip')?.valid || MarvellousForm.get('zip')?.untouched"  class="text-danger">Zip is required </small>  
  </div>
  <div class="form-group">
    <label>Comments </label>
    <input type="text" class=" form-control"formControlName="comments">
    <small [class.d-none]="MarvellousForm.get('comments')?.valid || MarvellousForm.get('comments')?.untouched"  class="text-danger">comment should be more than 30 words </small>  
    <button type="submit" class="btn btn-primary" [disabled]="!MarvellousForm.valid">SUBMIT FORM</button>
  
  </div>
   </form>
  
  
  
   